@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Digital";
  src: local("Digital"),
    url("../public/digital/digital-7.ttf") format("truetype");
}